# Core functionality - changes here should be rare!
/src/app.py                   @CharishBeaC
/src/backend/database.py      @CharishBeaC
/src/backend/routers/auth.py  @CharishBeaC

# The frontend will need refactored soon to be more object oriented.
/src/static/   @CharishBeaC
